.sidebar{
    flex: 0.25;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #262D31;
}

.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sidebar__headerIconsR{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
}
.sidebar__icons{
    color: white;
    font-size: 24px !important;
}

.sidebar__search{
    background-color: #131C21;
    height: 49px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: #323739;
    border-radius: 20px;
    width: 100%;
    height: 35px;
}

.sidebar__searchContainer > input{
    border: none !important;
    margin-left: 10px;
    background-color: #323739;
}

.sidebar__searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}

.sidebar__chats{
    background-color: #2A2F32;
    flex: 1;
    overflow: scroll;
}
.sidebar__chats::-webkit-scrollbar {
  display: none;
}
.sidebar__chats {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}